<header class="py-4 border-b mb-6">
    <div class="container px-2 flex items-center justify-between">
        <a asp-controller="catalogue" asp-action="Index">
            <h2 class="text-lg text-red-700	hover:text-blue-700">
                The Rusty Store
            </h2>
        </a>
        <nav class="flex">
            <a
                asp-controller="catalogue"
                asp-action="Index"
                class="mx-2 text-red-700 hover:text-blue-700"
            >
                Catalogue
            </a>
            @await Component.InvokeAsync("CartSummary")
        </nav>
    </div>
</header>
