@model Backend.Models.ViewModels.Cart

<div class="">
    @if (Model.Lines.Count() > 0) {
    <span class="text-sm text-gray-700">
        <b>Cart:</b>
        @Model.Lines.Sum(x => x.Quantity) item(s)
        @Model.ComputeTotalValue().ToString("c")
    </span>
    }
    <a
        class="pl-4"
        asp-controller="Cart"
        asp-action="Index"
        asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
    >
        🛒
    </a>
</div>
