@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        <a asp-controller="catalogue" asp-action="Index">Catalogue</a>
    </li>
    <li>
        <a asp-controller="invoices" asp-action="Index">Invoices</a>
    </li>
</ul>