@{ ViewData["Title"] = "The beginning"; }

<h2 class="text-xl py-6">Hi there!</h2>

<div>
    <p>
        This is the beginning of something great!
    </p>

    <p>
        For now it's blank but as all things it begins with a fresh start.
    </p>

    <p>
        And even thou I am not a writer and will say put a smile and choose your
        fate!
    </p>
</div>
