@model ProductListsViewModel
@{ ViewData["Title"] = "Catalogue"; }

@if (Model.Products.OfType<Book>().ToList().Count > 0)
{
    <h3 class="text-xl py-4">Books</h3>
    <div class="flex flex-wrap md:flex-no-wrap -mx-2">
        @foreach (Book book in Model.Products.OfType<Book>().ToList()) {
            @await Component.InvokeAsync("BookItem", book)
        }
    </div>
}

@if (Model.Products.OfType<Movie>().ToList().Count > 0)
{

    <h3 class="text-xl py-4">Movies</h3>
    <div class="flex flex-wrap md:flex-no-wrap -mx-2">
        @foreach (Movie movie in Model.Products.OfType<Movie>().ToList()) {
            @await Component.InvokeAsync("MovieItem", movie)
        }
    </div>
}

@if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
{

    <h3 class="text-xl py-4">CDs</h3>
    <div class="flex flex-wrap md:flex-no-wrap -mx-2">
        @foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList()) {
            @await Component.InvokeAsync("MusicCDItem", cd)
        }
    </div>
}

<div class="flex justify-center my-4" page-model="@Model.Paginator" page-action="Index" page-url-category="@Model.CurrentCategory"></div>
