@model IEnumerable<Product>
@{ ViewData["Title"] = "Catalogue"; }

<h2 class="text-4xl pb-2 pt-4">Catalogue</h2>

<h3 class="text-xl py-4">Books</h3>
<div class="flex -mx-2">
    @foreach (Book book in Model.OfType<Book>().ToList()) {
        @await Component.InvokeAsync("BookItem", book)
    }
</div>

<h3 class="text-xl py-4">Movies</h3>
<div class="flex -mx-2">
@foreach (Movie movie in Model.OfType<Movie>().ToList()) {
    @await Component.InvokeAsync("MovieItem", movie)
}
</div>


<h3 class="text-xl py-4">CDs</h3>
<div class="flex -mx-2">
@foreach (MusicCD cd in Model.OfType<MusicCD>().ToList()) {
    @await Component.InvokeAsync("MusicCDItem", cd)
}
</div>

